<!DOCTYPE html>
<html lang="fr">
<head>
    <% include templates/head.ejs%>
</head>

<body>

<% include templates/header.ejs%>


<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        hello world, site is under construction
    </div>

</div><!-- /.container -->

<% include templates/footer.ejs%>

</body>
</html>
